<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghtt.socialplatform.dao.gameDao.WangZheDao">
    <resultMap type="com.ghtt.socialplatform.domain.games.WangZhe" id="WangZhe">
        <result column="userId" property="userId"/>
        <result column="sex" property="sex"/>
        <result column="school" property="school"/>
        <result column="campus" property="campus"/>
        <result column="college" property="college"/>
        <result column="major" property="major"/>
        <result column="zone" property="zone"/>
        <result column="gameId" property="gameId"/>
        <result column="ranking" property="ranking"/>
        <result column="positions" property="positions"/>
        <result column="des" property="des"/>

    </resultMap>


    <select id="selectPage" resultType="WangZhe">
        select social_platform.wang_zhe.userId,sex,major,school,campus,college,zone,gameId,ranking,psn as positions,des
        from social_platform.wang_zhe left join
                 (select userId,sex,major,school,campus,college from social_platform.user) as b
                 on wang_zhe.userId=b.userId
            ${ew.customSqlSegment}
    </select>

</mapper>